.MarRight10 {
	margin-right: 10px;
}

.MarRight5 {
	margin-right: 5px;
}

.MarTop20 {
	margin-top: 20px;
}

.MarTop40 {
	margin-top: 40px;
}

.multi-select td{
	padding-right: 20px;
}

.multi-select input {
	margin-right: 5px;
}

.Fs10 {
	font-size: 10px;
}

.AlRight {
	float: right;
}